In [2]:
import pandas as pd
import numpy as np
from collections import Counter

In [34]:
file_path = r"C:\Users\Braydon\Desktop\Shein_Data\Pivot_Data\ThereFormation_Pivot.csv"

Tf = pd.read_csv(file_path,usecols = ['Cloth_Desc','Listed_Price'])

In [35]:
Tf

                                   Cloth_Desc Listed_Price
0                         Casette Linen Dress     $248.00
1                                 Jaide Dress     $328.00
2                      Joanne Cotton Cardigan     $128.00
3                                  Mason Pant     $178.00
4                              Lindy Knit Top      $68.00
..                                        ...          ...
781                           Laredo Knit Top      $88.00
782                              Shayla Dress     $348.00
783                 Joanne Belted Denim Dress     $178.00
784                            Westerly Dress     $348.00
785  Petites Cynthia High Rise Straight Jeans     $148.00

[786 rows x 2 columns]

In [36]:
Tf_copy = Tf.copy()

In [37]:
Tf_copy

                                   Cloth_Desc Listed_Price
0                         Casette Linen Dress     $248.00
1                                 Jaide Dress     $328.00
2                      Joanne Cotton Cardigan     $128.00
3                                  Mason Pant     $178.00
4                              Lindy Knit Top      $68.00
..                                        ...          ...
781                           Laredo Knit Top      $88.00
782                              Shayla Dress     $348.00
783                 Joanne Belted Denim Dress     $178.00
784                            Westerly Dress     $348.00
785  Petites Cynthia High Rise Straight Jeans     $148.00

[786 rows x 2 columns]

In [38]:
Tf_copy = Tf_copy.rename(columns={"Listed_Price":"Price"})

In [39]:
Tf_copy

                                   Cloth_Desc     Price
0                         Casette Linen Dress  $248.00
1                                 Jaide Dress  $328.00
2                      Joanne Cotton Cardigan  $128.00
3                                  Mason Pant  $178.00
4                              Lindy Knit Top   $68.00
..                                        ...       ...
781                           Laredo Knit Top   $88.00
782                              Shayla Dress  $348.00
783                 Joanne Belted Denim Dress  $178.00
784                            Westerly Dress  $348.00
785  Petites Cynthia High Rise Straight Jeans  $148.00

[786 rows x 2 columns]

In [40]:
#stripping extra spaces in Cloth_Desc
Tf_copy['Cloth_Desc'].str.strip()

0                           Casette Linen Dress
1                                   Jaide Dress
2                        Joanne Cotton Cardigan
3                                    Mason Pant
4                                Lindy Knit Top
                         ...
781                             Laredo Knit Top
782                                Shayla Dress
783                   Joanne Belted Denim Dress
784                              Westerly Dress
785    Petites Cynthia High Rise Straight Jeans
Name: Cloth_Desc, Length: 786, dtype: object

In [41]:
#stripping extra spaces in Price
Tf_copy['Price'].str.strip()

0      $248.00
1      $328.00
2      $128.00
3      $178.00
4       $68.00
        ...
781     $88.00
782    $348.00
783    $178.00
784    $348.00
785    $148.00
Name: Price, Length: 786, dtype: object

In [42]:
Tf_copy.dtypes

Cloth_Desc    object
Price         object
dtype: object

In [46]:
#Having to replace the $ in Price to convert to float
Tf_copy['Price'] = Tf_copy['Price'].str.replace('$','') 
Tf_copy['Price'] = Tf_copy['Price'].str.replace(',','')

C:\Users\Braydon\AppData\Local\Temp/ipykernel_10964/3217758947.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Tf_copy['Price'] = Tf_copy['Price'].str.replace('$','')

In [47]:
Tf_copy

                                   Cloth_Desc    Price
0                         Casette Linen Dress  248.00
1                                 Jaide Dress  328.00
2                      Joanne Cotton Cardigan  128.00
3                                  Mason Pant  178.00
4                              Lindy Knit Top   68.00
..                                        ...      ...
781                           Laredo Knit Top   88.00
782                              Shayla Dress  348.00
783                 Joanne Belted Denim Dress  178.00
784                            Westerly Dress  348.00
785  Petites Cynthia High Rise Straight Jeans  148.00

[786 rows x 2 columns]

In [48]:
Tf_copy['Price'] = Tf_copy['Price'].astype(float)

In [50]:
cloth_word_lst = []

In [52]:
for item in Tf_copy['Cloth_Desc']:
    item = item.split()
    for thing in item:
        cloth_word_lst.append(thing)

In [53]:
len(cloth_word_lst)

2348

In [54]:
cloth_word_count = Counter(cloth_word_lst)

In [55]:
cloth_word_count.most_common(15)

[('Dress', 336),
 ('Top', 132),
 ('Knit', 119),
 ('Silk', 112),
 ('Linen', 63),
 ('Pant', 52),
 ('Rise', 41),
 ('High', 40),
 ('Skirt', 39),
 ('Sweater', 38),
 ('Jeans', 35),
 ('Cashmere', 32),
 ('Tank', 32),
 ('Cardigan', 27),
 ('Two', 23)]

In [56]:
Tf_copy.to_csv('ThereFormation_Cleaned.csv',index = False)

In [ ]:
Testing---------------------------------------

In [51]:
cloth = shein_df_copy["Cloth_Desc"][1]

In [57]:
cloth.split()

['Cherry', 'Embroidery', 'Lantern', 'Sleeve', 'Cardigan']

In [60]:
lst = []
for item in cloth.split():
    lst.append(item)

In [61]:
lst

['Cherry', 'Embroidery', 'Lantern', 'Sleeve', 'Cardigan']

In [ ]:
End of Testing-------------------------------