In [67]:
import pandas as pd
import numpy as np
from collections import Counter

In [21]:
file_path = r"C:\Users\Braydon\Desktop\Shein_Data\Pivot_Data\Shein_Pivot.csv"

shein_df = pd.read_csv(file_path,usecols = ['Column1','Column3'])

In [22]:
shein_df.head()
shein_df_copy = shein_df.copy()

In [25]:
shein_df_copy

                                                Column1  Column3
0                SHEIN Unity Solid Form Fitted Bodysuit     8.35
1             Cherry Embroidery Lantern Sleeve Cardigan    19.00
2     Random Allover Floral Print Ruched Bust Ruffle...    17.00
3            SHEIN SXY Cut Out Waist Tube Bodycon Dress     9.00
4              Solid Drawstring Slant Pocket Sweatpants    13.40
...                                                 ...      ...
4789  Joyfunear Sequin Bodice Backless Mesh Cami For...    26.00
4790                     Rainbow And Slogan Graphic Tee     8.00
4791                        2pack Chiffon Knot Cover Up     7.49
4792  SHEIN BAE Solid Criss Cross Tie Backless Split...    12.00
4793  SHEIN BAE Lace up Backless Split Hem Sequince ...    15.40

[4794 rows x 2 columns]

In [35]:
shein_df_copy = shein_df_copy.rename(columns={"Column1":"Cloth_Desc","Column3":"Price"})

In [36]:
shein_df_copy

                                             Cloth_Desc  Price
0                SHEIN Unity Solid Form Fitted Bodysuit   8.35
1             Cherry Embroidery Lantern Sleeve Cardigan  19.00
2     Random Allover Floral Print Ruched Bust Ruffle...  17.00
3            SHEIN SXY Cut Out Waist Tube Bodycon Dress   9.00
4              Solid Drawstring Slant Pocket Sweatpants  13.40
...                                                 ...    ...
4789  Joyfunear Sequin Bodice Backless Mesh Cami For...  26.00
4790                     Rainbow And Slogan Graphic Tee   8.00
4791                        2pack Chiffon Knot Cover Up   7.49
4792  SHEIN BAE Solid Criss Cross Tie Backless Split...  12.00
4793  SHEIN BAE Lace up Backless Split Hem Sequince ...  15.40

[4794 rows x 2 columns]

In [37]:
#stripping extra spaces in Cloth_Desc
shein_df_copy['Cloth_Desc'].str.strip()

0                  SHEIN Unity Solid Form Fitted Bodysuit
1               Cherry Embroidery Lantern Sleeve Cardigan
2       Random Allover Floral Print Ruched Bust Ruffle...
3              SHEIN SXY Cut Out Waist Tube Bodycon Dress
4                Solid Drawstring Slant Pocket Sweatpants
                              ...
4789    Joyfunear Sequin Bodice Backless Mesh Cami For...
4790                       Rainbow And Slogan Graphic Tee
4791                          2pack Chiffon Knot Cover Up
4792    SHEIN BAE Solid Criss Cross Tie Backless Split...
4793    SHEIN BAE Lace up Backless Split Hem Sequince ...
Name: Cloth_Desc, Length: 4794, dtype: object

In [40]:
shein_df_copy.dtypes

Cloth_Desc     object
Price         float64
dtype: object

In [63]:
cloth_word_lst = []

In [64]:
for item in shein_df_copy['Cloth_Desc']:
    item = item.split()
    for thing in item:
        cloth_word_lst.append(thing)

In [66]:
len(cloth_word_lst)

33478

In [68]:
cloth_word_count = Counter(cloth_word_lst)

In [73]:
cloth_word_count.most_common(15)

[('SHEIN', 1812),
 ('Dress', 1385),
 ('Print', 845),
 ('Solid', 806),
 ('Top', 775),
 ('Neck', 772),
 ('Sleeve', 668),
 ('Shoulder', 638),
 ('Hem', 567),
 ('Crop', 547),
 ('Tee', 499),
 ('Floral', 490),
 ('Bikini', 444),
 ('Tie', 441),
 ('Front', 424)]

In [77]:
shein_df_copy.to_csv('Shein_Cleaned.csv',index = False)

In [ ]:
Testing---------------------------------------

In [51]:
cloth = shein_df_copy["Cloth_Desc"][1]

In [57]:
cloth.split()

['Cherry', 'Embroidery', 'Lantern', 'Sleeve', 'Cardigan']

In [60]:
lst = []
for item in cloth.split():
    lst.append(item)

In [61]:
lst

['Cherry', 'Embroidery', 'Lantern', 'Sleeve', 'Cardigan']

In [ ]:
End of Testing-------------------------------