In [2]:
import pandas as pd
import numpy as np
from collections import Counter

In [4]:
file_path = r"C:\Users\Braydon\Desktop\Shein_Data\Pivot_Data\aday_data_Pivot.csv"

Af = pd.read_csv(file_path,usecols = ['Product','Price'])

In [5]:
Af

                         Product  Price
0    All Day Long Sleeve T-Shirt   75.0
1    All Day Long Sleeve T-Shirt   75.0
2    All Day Long Sleeve T-Shirt   75.0
3           All Weather Cardigan  200.0
4           All Weather Cardigan  200.0
..                           ...    ...
254                Warm Up Pants  190.0
255         Wind Down Wrap Dress  300.0
256         Wind Down Wrap Dress  300.0
257          Wrapped In Flax Top  150.0
258          Wrapped In Flax Top  150.0

[259 rows x 2 columns]

In [6]:
Af_copy = Af.copy()

In [7]:
Af_copy

                         Product  Price
0    All Day Long Sleeve T-Shirt   75.0
1    All Day Long Sleeve T-Shirt   75.0
2    All Day Long Sleeve T-Shirt   75.0
3           All Weather Cardigan  200.0
4           All Weather Cardigan  200.0
..                           ...    ...
254                Warm Up Pants  190.0
255         Wind Down Wrap Dress  300.0
256         Wind Down Wrap Dress  300.0
257          Wrapped In Flax Top  150.0
258          Wrapped In Flax Top  150.0

[259 rows x 2 columns]

In [8]:
Af_copy = Af_copy.rename(columns={"Product":"Cloth_Desc"})

In [10]:
Af_copy

                      Cloth_Desc  Price
0    All Day Long Sleeve T-Shirt   75.0
1    All Day Long Sleeve T-Shirt   75.0
2    All Day Long Sleeve T-Shirt   75.0
3           All Weather Cardigan  200.0
4           All Weather Cardigan  200.0
..                           ...    ...
254                Warm Up Pants  190.0
255         Wind Down Wrap Dress  300.0
256         Wind Down Wrap Dress  300.0
257          Wrapped In Flax Top  150.0
258          Wrapped In Flax Top  150.0

[259 rows x 2 columns]

In [11]:
#stripping extra spaces in Cloth_Desc
Af_copy['Cloth_Desc'].str.strip()

0      All Day Long Sleeve T-Shirt
1      All Day Long Sleeve T-Shirt
2      All Day Long Sleeve T-Shirt
3             All Weather Cardigan
4             All Weather Cardigan
                  ...
254                  Warm Up Pants
255           Wind Down Wrap Dress
256           Wind Down Wrap Dress
257            Wrapped In Flax Top
258            Wrapped In Flax Top
Name: Cloth_Desc, Length: 259, dtype: object

In [12]:
#stripping extra spaces in Price
Af_copy['Price'].str.strip()

AttributeError: Can only use .str accessor with string values!

In [14]:
Af_copy.dtypes

Cloth_Desc     object
Price         float64
dtype: object

In [15]:
cloth_word_lst = []

In [16]:
for item in Af_copy['Cloth_Desc']:
    item = item.split()
    for thing in item:
        cloth_word_lst.append(thing)

In [17]:
len(cloth_word_lst)

925

In [18]:
cloth_word_count = Counter(cloth_word_lst)

In [19]:
cloth_word_count.most_common(15)

[('Pants', 43),
 ('It', 40),
 ('Top', 34),
 ('Up', 31),
 ('Dress', 27),
 ('A', 27),
 ('Something', 24),
 ('T-Shirt', 23),
 ('Like', 18),
 ('Shirt', 17),
 ('Pullover', 17),
 ('Wrap', 17),
 ('Leggings', 15),
 ('Borrowed', 15),
 ('Tank', 14)]

In [20]:
Af_copy.to_csv('Aday_Cleaned.csv',index = False)

In [ ]:
Testing---------------------------------------

In [51]:
cloth = shein_df_copy["Cloth_Desc"][1]

In [57]:
cloth.split()

['Cherry', 'Embroidery', 'Lantern', 'Sleeve', 'Cardigan']

In [60]:
lst = []
for item in cloth.split():
    lst.append(item)

In [61]:
lst

['Cherry', 'Embroidery', 'Lantern', 'Sleeve', 'Cardigan']

In [ ]:
End of Testing-------------------------------